.navbar-default {
	margin-bottom: 0;
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #ADADAD;
  font-size: 26px;
  margin: 8px;
}

.bienvenidos {
	.container-fluid {
	background-image: url(../img/img-home.png);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	}
}
.btn-default{
	background-color: #ABABAB;
  color: white;
  font-size: 17px;
  margin-top: 13px;
  margin-right: 27px;
}
.logo{
	margin-top: 13%;
	margin-left: 40%;
}
.identificamos{
	color: #30D6FF;
  padding: 24px 57px;
  margin-left: 8%;
  margin-top: 38px;
  font-size: 33px;
  text-align: center;
}
p {
  color: #ADADAD;
  font-size: 20px;
  margin-left: 7%;
  text-align: center;
  margin-bottom: 0px;
  padding-left: 16%;
  padding-right: 16%;
}
.btn-primary {
  color: #fff;
  margin-top: 3%;
  font-size: 17px;
  margin-left: 38%;
  padding: 13px 49px;
  background-color: tomato;
  border-color: tomato;
}
.nuestra{
	color: #55CCF4;
  margin: 0px;
  text-align: center;
  margin-top: 8%;
  font-size: 45px;
  padding-bottom: 46px;
}
.nuestro{
	color: tomato;
  font-size: 36px;
  margin-bottom: 0px;
  text-align: center;
  height: 57px;
  font-family: 'PT Sans', sans-serif;
}
.que{
  text-align: center;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 6%;
  color: #595959;
  font-family: 'Hind', sans-serif;
}
.abre-comillas{
	margin-right: 1%;
  margin-bottom: 38px;
}
.cierra-comillas{
	margin-top: 15px;
  margin-left: 7px;
}
.competencias{
  /*margin-top: 79%;*/
  /*padding-left: 40%;*/
  color: tomato;
  font-size: 28px;
  text-align: center;
  margin-top: 61px;
  font-family: 'PT Sans', sans-serif;
}
.preferencias{
  /*margin-top: 79%;*/
  /*margin-right: 25%;*/
  color: tomato;
  font-size: 28px;
  text-align: center;
  margin-top: 89px;
  font-family: 'PT Sans', sans-serif;
  padding: 0 7px;
}
.texto-competencias{
  color: #979797;
  padding-left: 7px;
  padding-right: 25px;
  font-size: 20px;
}
.texto-preferencias{
  color: #979797;
  padding: 0 22px;
  font-size: 20px;
}
.circulo-externo{
	padding: 3px;
	height: 492px;
	width: 492px;
  background-color: tomato;
  border-radius: 50%;
  margin: 0 auto;
}
.circulo-interno{
  border: dashed white;
  border-radius: 50%;
  height: 98%;
  width: 98%;
  margin: 4px auto;
  font-weight: 300;
}
.analisis{
  text-align: center;
  font-size: 36px;
  margin-top: 13%;
  margin-bottom: 6%;
  color: tomato;
  font-family: 'Hind', sans-serif;
}
.texto-analisis{
  color: #979797;
  margin-top: 6%;
  font-size: 20px;
  padding-left: 16%;
  padding-right: 22%;
}
.optenemos{
	margin-top: 20%;
	margin-bottom: 8%;
  color: white;
  font-size: 27px;
  padding-left: 4%;
  line-height: 42px;
}
.nos {
  color:white;
  margin-left: 20%;
  font-size: 27px;
}
.btn-ver{
  background-color: #4DBCE1;
  border: #4DBCE1;
  color: white;
  padding: 11px 88px;
  font-size: 23px;
  margin-left: 42%;
  margin-top: 6%;
  margin-bottom: 7%;
}
.para-postulantes{
	background-image: url(../img/img-02.png);
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}
.titulo-farolito-postulantes{
	color: white;
  font-size: 39px;
  margin-top: 6%;
  text-align: center;
}
.alcanza{
	color: white;
	text-align: center;
	margin-top: 28px;
}
.empresas{
  color: tomato;
  text-align: center;
  font-size: 38px;
  margin-top: 8%;
  margin-bottom: 0px;
}
.contrata{
  color: gray;
  font-size: 30px;
  text-align: center;
  margin-top: 13%;
  margin: 46px auto;
  height: 61px;
  width: 38%;
  margin-bottom: 0px;
  border-bottom: dotted tomato;
}
.proveedor{
  color: gray;
  text-align: center;
  font-size: 19px;
  padding-left: 30%;
  padding-right: 30%;
  margin-top: 26px;
  line-height: 28px;
}
.iconos{
  margin-left: 43%;
  margin-top: 13%;
  border-radius: 50%;
}
.subtitulos{
  text-align: center;
  color: gray;
  font-size: 31px;
}
.descripciones{
  padding-left: 45px;
  padding-bottom: 7px;
  margin-top: 30px;
  font-weight: 300;
}
.mas-informacion{
  color: #47D1FF;
  font-size: 22px;
  margin-left: 31%;
}
.btn-contacto{
  background-color: tomato;
  border: tomato;
  color: white;
  padding: 23px 88px;
  font-size: 23px;
  margin-left: 39.5%;
  margin-top: 6%;
  margin-bottom: 7%;
}
.verde{
	background-color: #45DA45;
	margin-bottom: -6px;
}
.centros{
  color: white;
  text-align: center;
  font-size: 38px;
  margin-top: 8%;
  margin-bottom: 0px;
}

//metodologia
 .linea-seccion {
 	padding-top: 70px;
 }

.line-container {
	position: relative;
	height: 80px;
}

.line1 {
  width: 283px;
  height: 47px;
  border-bottom: 4px dashed tomato;
  -webkit-transform: translateY(20px) translateX(5px) rotate(-17deg);
  position: absolute;
  top: 72px;
  right: -57px;
}
.line2 {
  width: 297px;
  height: 47px;
  border-bottom: 4px dashed tomato;
  -webkit-transform: translateY(20px) translateX(5px) rotate(16deg);
  position: absolute;
  top: 62%;
  right: 51%;
}
.line3 {
  width: 282px;
  border-bottom: 4px dashed tomato;
  -webkit-transform: translateY(20px) translateX(5px) rotate(90deg);
  position: absolute;
  top: 11%;
  left: 21%;
}
h4.evaluadora {
  color: white;
  text-align: center;
  font-size: 19px;
  padding-left: 30%;
  padding-right: 30%;
  margin-top: 26px;
  line-height: 28px;
}
.desarrolla{
	color: #EEEE68;
  font-size: 30px;
  text-align: center;
  margin-top: 13%;
  margin: 46px auto;
  height: 61px;
  width: 38%;
  margin-bottom: 0px;
  border-bottom: dotted white;
}
.sub{
	text-align: center;
  color: white;
  font-size: 31px;
}
.desc{
	padding-left: 45px;
  padding-bottom: 7px;
  margin-top: 30px;
  color: white;
  font-weight: 300;
}
p.desc.asesoria {
  margin-bottom: 10%;
}
.btn-contacto-verde{
  background-color: #45DA45;
  border: white;
  color: white;
  padding: 23px 88px;
  font-size: 23px;
  margin-left: 40%;
  margin-top: 6%;
  margin-bottom: 7%;
}
.oportunidades{
  background-image: url(../img/img-03.png);
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
}
.lista{
  color: #9A9A9A;
  font-size: 37px;
  text-align: center;
  margin-top: 9%;
  margin-bottom: 2%;
}
.asesor{
  border-bottom: #55CCF4 solid 1px;
  width: 14%;
  color: #55CCF4;
  font-size: 25px;
  margin-left: 25%;
  padding-bottom: 4px;
  margin-bottom: 23px;
}
.practicante{
  border-bottom: #55CCF4 solid 1px;
  width: 19%;
  color: #55CCF4;
  font-size: 25px;
  margin-left: 25%;
  margin-top: 0px;
  padding-bottom: 4px;
  margin-bottom: 23px;
}
.supervisor{
  border-bottom: #55CCF4 solid 1px;
  width: 18%;
  color: #55CCF4;
  font-size: 25px;
  margin-left: 25%;
  margin-top: 0px;
  padding-bottom: 4px;
  margin-bottom: 23px;
}
.informacion{
  font-size: 18px;
  color: #9A9A9A;
  margin-left: 25%;
  margin-top: 14px;
}
.btn-rojo{
  font-size: 17px;
  color: red;
  padding: 5px 17px;
  background-color: white;
  border-color: red;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-left: 67%;
}
.line4{
  width: 49.6%;
  border-bottom: 2px dotted #E2E2E2;
  -webkit-transform: translateY(20px) translateX(5px) rotate(180deg);
  position: absolute;
  top: 10%;
  left: 24.5%;
}
.btn-gris{
  font-size: 16px;
  color: white;
  padding: 5px 17px;
  background-color: #A0A0A0;
  border-color: #A0A0A0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-left: 46%;
  margin-bottom: 113px;
}