.navbar-default {
	margin-bottom: 0;
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #ADADAD;
  font-size: 26px;
  margin: 8px;
}

.bienvenidos {
	.container-fluid {
	background-image: url(../img/img-home.png);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	}
}
.btn-default{
	background-color: #ABABAB;
  color: white;
  font-size: 17px;
  margin-top: 13px;
  margin-right: 27px;
}
.logo{
	margin-top: 13%;
	margin-left: 40%;
}
.identificamos{
	color: #30D6FF;
  padding: 24px 57px;
  margin-left: 8%;
  margin-top: 38px;
  font-size: 33px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
p {
  color: #ADADAD;
  font-size: 20px;
  margin-left: 7%;
  text-align: center;
  margin-bottom: 0px;
  padding-left: 16%;
  padding-right: 16%;
}
.btn-primary {
  color: #fff;
  margin-top: 3%;
  font-size: 17px;
  margin-left: 38%;
  padding: 13px 49px;
  background-color: tomato;
  border-color: tomato;
}
.nuestra{
	color: #55CCF4;
  margin: 0px;
  text-align: center;
  margin-top: 8%;
  font-size: 45px;
  padding-bottom: 46px;
}
.nuestro{
	color: tomato;
  font-size: 36px;
  margin-bottom: 0px;
  text-align: center;
  height: 57px;
  font-family: 'PT Sans', sans-serif;
}
.que{
	text-align: center;
  font-size: 36px;
  margin-top: 0px;
  color: #595959;
  font-family: 'Hind', sans-serif;
}
.abre-comillas{
	margin-right: 1%;
  margin-bottom: 38px;
}
.cierra-comillas{
	margin-top: 15px;
  margin-left: 7px;
}
.competencias{
  margin-top: 79%;
  padding-left: 40%;
  color: tomato;
  font-size: 35px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}
.preferencias{
  margin-top: 79%;
  margin-right: 25%;
  color: tomato;
  font-size: 35px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}
.texto-competencias{
  color: #979797;
  margin-top: 6%;
  margin-left: 41%;
  padding: 0px;
}
.texto-preferencias{
	color: #979797;
  margin-top: 6%;
  margin-right: 32%;
  padding: 0px;
}
.circulo{
	border: dotted white;
	margin-top: 16%;
	height: 65%;
  background-color: tomato;
  border-radius: 50%;

}
.analisis{
  color: tomato;
  font-size: 35px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  margin-right: 6%;
  margin-top: 35%;
}
.texto-analisis{
  color: #979797;
  margin-top: 6%;
  margin-left: 1%;
  padding-left: 17%;
  padding-right: 27%;
}
.optenemos{
	margin-top: 20%;
	margin-bottom: 8%;
  color: white;
  font-size: 27px;
  padding-left: 4%;
  line-height: 42px;
}
.nos {
  color:white;
  margin-left: 20%;
  font-size: 27px;
}
.btn-ver{
  background-color: #4DBCE1;
  border: #4DBCE1;
  color: white;
  padding: 11px 88px;
  font-size: 23px;
  margin-left: 40%;
  margin-top: 6%;
  margin-bottom: 7%;
}
.para-postulantes{
	background-image: url(../img/img-02.png);
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}
.titulo-farolito-postulantes{
	color: white;
  font-size: 39px;
  margin-top: 6%;
  text-align: center;
}
.alcanza{
	color: white;
	text-align: center;
	margin-top: 28px;
}
.empresas{
  color: tomato;
  text-align: center;
  font-size: 38px;
  margin-top: 8%;
  margin-bottom: 0px;
}
.contrata{
  color: gray;
  font-size: 30px;
  text-align: center;
  margin-top: 13%;
  margin: 46px auto;
  height: 61px;
  width: 38%;
  margin-bottom: 0px;
  border-bottom: dotted tomato;
}
.somos{
  color: gray;
  text-align: center;
  font-size: 19px;
  padding-left: 30%;
  padding-right: 30%;
  margin-top: 26px;
  line-height: 28px;
}
.iconos{
  margin-left: 43%;
  margin-top: 13%;
}
.subtitulos{
  text-align: center;
  color: gray;
  font-size: 31px;
}
.descripciones{
  padding-left: 45px;
  padding-bottom: 7px;
  margin-top: 30px;
}
.mas-informacion{
  color: #47D1FF;
  font-size: 22px;
  margin-left: 27%;
}
.btn-contacto{
  background-color: tomato;
  border: tomato;
  color: white;
  padding: 23px 88px;
  font-size: 23px;
  margin-left: 40%;
  margin-top: 6%;
  margin-bottom: 7%;
}